.home {
  position: relative;
  border: none;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  overflow: hidden;
}
#navbar {
  position: fixed;
  background: transparent;
  top: 0;
  width: 100%;
  height: 12.5%;
  z-index: 1;
}
#navbox {
  position: absloute;
  background: #08080e;
  width: 100%;
  height: 100vh;
  top: 0;
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 10;
}
.navcheckbox {
  display: none;
}
.navtoggle {
  position: absolute;
  width: 20%;
  height: 100%;
  cursor: pointer;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.navtoggle svg {
  width: 50%;
}
.navtoggle .navClose {
  display: none;
}
.navboxin {
  width: 50%;
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.navheads {
  float: left;
  width: 100%;
  height: 100%;
  font-size: 15px;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  transition-duration: 0.5s;
}
.navheads:hover {
  cursor: pointer;
  color: #e43f5a;
}
.navheads.navselected {
  color: #e43f5a;
}

#navcheckbox:checked ~ label.navtoggle .navClose {
  display: block;
}
#navcheckbox:checked ~ label.navtoggle .navOpen {
  display: none;
}

.resumehead {
  width: 40%;
  height: 100%;
  float: right;
  display: flex;
  justify-content: center;
  align-items: center;
}
.resume {
  position: relative;
  color: #e43f5a;
  width: 60%;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  text-decoration: none;
  text-shadow: 0 0 0.5em #e43f5a;
  box-shadow: 0 0 0.5em 0 #e43f5a, 0 0 0.5em 0 #e43f5a inset;
  border: 2.5px solid #e43f5a;
  border-radius: 0.5em;
  transition-duration: 0.5s;
}
.resume::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: #e43f5a;
  box-shadow: 0 0 2em 0.2em #e43f5a;
  opacity: 0;
  z-index: -10;
  transition: opacity 100ms linear;
}
.resume:hover,
.resume:focus {
  color: #08080e;
  text-shadow: none;
}
.resume:hover::before,
.resume:focus::before {
  opacity: 1;
}

.homebox {
  width: 100%;
  height: 87%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: scroll;
}
.homeboxin {
  width: 90%;
  height: 80%;
}

@media only screen and (min-width: 560px) {
  .navtoggle {
    display: none;
  }
  #navbox {
    position: relative;
    background: transparent;
    float: right;
    width: 49%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
  }
  .navboxin {
    float: left;
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }
  .navheads {
    float: left;
    width: 15%;
    height: 100%;
    font-size: 15px;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    transition-duration: 0.5s;
  }
  .navheads:hover {
    cursor: pointer;
    color: #e43f5a;
  }
  .navheads.navselected {
    color: #e43f5a;
    border-bottom: 2px solid #e43f5a;
  }
  .resumehead {
    width: 10%;
    height: 100%;
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .resume {
    width: 60%;
    height: 50%;
  }
  .homeboxin {
    width: 80%;
  }
}

::-webkit-scrollbar {
  height: 2px;
  width: 2px;
}
::-webkit-scrollbar-track {
  padding: 2px;
}
::-webkit-scrollbar-thumb {
  background: #e43f5a;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: #7c2231;
}

/* Css for displays is in displays.css */
